$color-azul: blue;
$color-azul-claro: lightblue;
$color-blanco: white;
$color-gris-claro: #f2f2f2;

body {
  font-size: 24px;
  color: $color-azul;
}

.containerForm {
  font-family: Arial, sans-serif;
  background-color: $color-gris-claro;
  color: $color-azul;
  padding: 20px;
}

.container {
  padding: 0 2rem;
}

h1 {
  color: $color-azul;
  font-weight: bold;
  margin-bottom: 2rem;
}

.banner {
  background-color: $color-azul;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.form-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form-container {
  flex: 1 0 auto;
  margin: 10px; 
  margin-top: 40px;
}

.form-input {
  display: block;
  width: 92%;
  padding: 10px;
  margin-bottom: 30px;
  border: 2px solid $color-azul-claro;
  background-color: $color-blanco;
  color: $color-azul;
  border-radius: 5px;
  font-size: 24px;
  transition: border-color 0.3s ease-in-out;

}

.form-input:focus {
  border-color: $color-azul;
  outline: none;
}

.form-button {
  border-radius: 5px;
  background-color: $color-blanco;
  color: $color-azul;
  border: 2px solid $color-azul;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  font-size: 24px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.form-button img {
  max-width: 20px;
  height: auto;
}

.form-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.navigation-buttons {

}

.selects-container, 
.navigation-buttons {
  display: flex;
  gap: 10px; /* Espacio entre los elementos */
  align-items: center; /* Alinear verticalmente */
  margin: 0 10px 0 10px;
  margin-bottom: 10px;
}

.form-button-navigation {
  border-radius: 5px;
  background-color: $color-blanco;
  color: $color-azul;
  border: 2px solid $color-azul;
  cursor: pointer;
  padding: 3px 10px 3px 10px;
}

.form-button-navigation:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .selections-container {
    flex-direction: column; /* Cambiar el diseño a columna en pantallas pequeñas */
  }

  .navigation-buttons {
    /* Espacio entre los grupos de elementos */
  }
}

.form-link {
  color: $color-azul;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

.label-image {
  max-width: 15%;
  max-height: 15%;
  margin-bottom: 20px;
}

// HEADER
/* ... */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f2f2f2;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 40px;
  height: auto;
  margin-right: 10px;
}

.header-title {
  color: $color-azul;
  margin: 0;
  font-size: 24px;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 30px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  z-index: 10;
  transition: transform 0.3s ease;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: $color-azul;
  transition: transform 0.3s ease;
}

.menu-toggle.open {
  height: 12px;
}

.menu-toggle.open .bar:first-child {
  transform: rotate(45deg) translate(3px, 3px);
}

.menu-toggle.open .bar:last-child {
  transform: rotate(-45deg) translate(3px, -3px);
}

.nav {
  display: none;
  position: absolute;
  top: 82px;
  right: 9px;
  z-index: 10;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav.open {
  display: block;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin-bottom: 10px;
}


.error-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid red;
  padding: 20px;
  color: red;
}

.success-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid green;
  padding: 20px;
  color: green;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.small-button {
  font-size: 12px;
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: fit-content;
}

.chart-container {
  width: 100%;
}

.link {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
}

.selection-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0 10px 0;
}

.form-select {
  appearance: none;
  background-color: transparent;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px 10px;
  color: blue;
  font-size: 14px;
  margin-right: 10px;
}

.form-select:focus {
  outline: none;
  box-shadow: 0 0 0 2px blue;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.message.error {
  color: red;
}

.message.success {
  color: green;
}

/* Estilos para la tabla */
.table-container table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container th,
.table-container td {
  padding: 12px;
  text-align: center;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
}

/* Estilos para las celdas de la tabla */
.table-container td {
  font-size: 12px;
  font-weight: bold;
}

/* Estilos para las celdas de insulina en verde */
.table-container td:nth-child(3) {
  color: green;
}

/* Estilos para las celdas de glucosa en rojo */
.table-container td:nth-child(2) {
  color: red;
}

/* Estilos para las celdas de fecha en azul */
.table-container td:first-child {
  color: blue;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.title-container span {
  font-size: 16px;
}

.table-container {
  font-size: 16px;
}

/* Ajustar estilos de la tabla como bordes redondeados y separaciones entre celdas */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

